@use '../utilidades/variables' as *;
@use '../utilidades/mixins' as *;
.body {
    &__carrusel {
        grid-area: carrusel;
        overflow:hidden;
        background-color: rgb(255, 255, 255);
    }

    &__somos {
        grid-area: somos;
        background-color: rgb(255, 255, 255);

        article {
            @include fuenteLetra("principal", 14px, 0);
            padding-left: 90px;
            padding-right: 90px;
        }

        blockquote {
            @include fuenteLetra("principal", 14px, 0);
        }
    }

    &__aliadosContainer {
        grid-area: aliados;
        width: 100%;
        overflow: hidden;
        background-color: $fondoAliados;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 20px 0;
        height: 120px;
        .separador {
            @include textoAlineacion;
            white-space: nowrap;
        
            &__linea {
                @include alineacionElementosLinea();
                background-color: $colorTextoGeneral;
                width: 30%;
                height: 4px;
                margin: 30px 10px;
            }
        
            &__titulo {
                @include alineacionElementosLinea();
                @include fuenteLetra("principal", 26px, 1);
                color: $colorTextoGeneral;
                width: 20%;
                margin: 0;
                letter-spacing: 4px;
            }
        }
        &--marcas {
            display: flex;
            animation: aliadosCarrusel 36s linear infinite;
            justify-content: start;
    
            img {
                flex: 0 0 calc(100% / 8);
                max-width: calc(100% / 8);
                margin: 0;
                filter: grayscale(100%);
                transition: filter 0.3s ease, transform 0.3s ease;
    
                &:hover {
                    filter: grayscale(0%);
                    transform: scale(1.3);
                }
            }
    
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__unete {
        grid-area: unete;    
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 20px;

        &--mensaje {
            display: flex;
            flex-direction: column;
            align-items: center; 
            text-align: center; 
            max-width: 600px; 
        }

        &--imagen {
            width: 30%;
            height: auto;
            margin-bottom: 20px;
        }
        .separador { 
            width: 100%;
        }
        .separador__titulo{
            font-size: 26px;
            width: 120px;
        }
        .separador__linea{
            width: 20%;
        }
    }
    &__crece {
        grid-area: crece;
        display: flex;
        flex-direction: column;
        align-items: center; 

        &--mensaje {
            display: flex;
            flex-direction: column;
            align-items: center; 
            text-align: center; 
            max-width: 600px; 
        }

        &--imagen {
            width: 30%;
            height: auto;
            margin-bottom: 50px;
            margin-top: 30px;
        }
        .separador__titulo{
            font-size: 26px;
            width: 120px;
        }
        .separador__linea{
            width: 20%;
        }
        
        .separador { 
            width: 100%;
        }
    }
    &__noticias{
        margin-top: 30px;
        grid-area: noticias;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    &__contactanos{
        margin-top: 30px;
        grid-area: contacta;
        display: flex;
        flex-direction: column;
        align-items: center; 
        .separador{
            width: 100%;
        }
        .separador__titulo{
            font-size: 26px;
            width: auto
        }
        .separador__linea{
            width: 20%;
        }
        p{
            width: 75%;
        }
         #correo{
            width: 70%;
            margin-bottom: 20px;;
        }
        #mensaje{
            width: 70%;
            margin-bottom: 20px;;
        }
        button{
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }
    &__visitanos{
        grid-area: visitanos;
        display: flex;
        flex-direction: column;
        align-items: center;     
        .separador { 
            width: 100%;
        }
        .separador__titulo{
            font-size: 26px;
            width: auto;
        }
        .separador__linea{
            width: 20%;
        }
        iframe{
            width: 80%;
            margin-bottom: 20px;;
        }
    }

}
/* Animación por pasos */
@keyframes aliadosCarrusel {
    0% {
        transform: translateX(0); 
    }

    100% {
        transform: translateX(-100%);
    }
}